body {
  background-color: initial;
}

#LuciaU {
  background-color: initial;
  font-family: initial;
  color: initial;
}

#AmalieS {
  background-color: pink;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: purple;
}

#OlgaK {
  background-color: initial;
  font-family: initial;
  color: initial;
}

#DanielaS {
  background-color: initial;
  font-family: initial;
  color: initial;
}
