body {
  background-color: initial;
}

#LuciaU {
  background-color: initial;
  font-family: initial;
  color: initial;
}

#AmalieS {
  background-color: initial;
  font-family: initial;
  color: initial;
}

#OlgaK {
  background-color: burlywood;
  font-family: initial;
  color: red;
}

#DanielaS {
  background-color: initial;
  font-family: initial;
  color: initial;
}
