body {
  background-color: initial;
}

#LuciaU {
  background-color: initial;
  font-family: initial;
  color: initial;
}

#AmalieS {
  background-color: initial;
  font-family: initial;
  color: initial;
}

#OlgaK {
  background-color: initial;
  font-family: initial;
  color: initial;
}

#DanielaS {
  background-color: rebeccapurple ;
  font-family: initial;
  color:paleturquoise;
}

img{
  width:100px;
  height:100px;
}